{% extends 'app/base.html'%}

{% load static %}

{% block title %}About{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/bgbg1.png' %}" class="d-block w-100" alt="banner images" width="500" height="500">
      </div>
    </div>
  </div>
{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>   
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quod fugit, nesciunt aperiam suscipit molestias error fuga repellendus impedit laborum reiciendis obcaecati! Fuga harum laborum reprehenderit totam nobis, dolorem vitae facilis laboriosam aut quidem adipisci numquam magni magnam dignissimos necessitatibus!</p>
    </div>

    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis quod fugit, nesciunt aperiam suscipit molestias error fuga repellendus impedit laborum reiciendis obcaecati! Fuga harum laborum reprehenderit totam nobis, dolorem vitae facilis laboriosam aut quidem adipisci numquam magni magnam dignissimos necessitatibus!</p>
    </div>
</div>
<br><br>
{% endblock main-content %}

