{% extends 'app/base.html'%}

{% load static %}

{% block title %}About{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/about.jpg' %}" class="d-block w-100" alt="banner images" width="400" height="500">
      </div>
    </div>
  </div>
{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>   
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Suntay Coffee & Co adalah  tempat di mana setiap cangkir kami adalah cerita rasa dan perjalanan kopi yang autentik. Dibangun dari kecintaan akan kopi berkualitas tinggi dan pengalaman bersosialisasi yang hangat. Suntay Coffee & Co mengundang Anda untuk menikmati kenikmatan kopi sejati sambil menjelajahi ragam cita rasa yang kami tawarkan.</p>
    </div>

    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Menghadirkan pengalaman kopi yang tak terlupakan dengan memberikan kemudahan dalam melakukan pemesanan dari jarak jauh. Kami berkomitmen untuk memanfaatkan teknologi terkini guna memudahkan pelanggan memesan kopi favorit mereka sebelum tiba di kedai, sehingga dapat mengurangi antrian yang tidak efisien dan memberikan pengalaman yang lebih nyaman dan efisien bagi setiap pelanggan kami.</p>
    </div>
</div>
<br><br>
{% endblock main-content %}

