{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/COFFEE SHOP.jpg' %}" class="d-block w-100" alt="banner images" width="500" height="500">
      </div>
    </div>
  </div>
{% endblock banner_slider %}

{% block main-content%}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">Address : Jl. Matraman No. 72, Jakarta Pusat, DKI Jakarta</p>
        <p class="fs-4 text-center">Contact : +62 852 1551 6226</p>
        <p class="fs-4 text-center">Email : Suntayco@gmail.com</p>

    </div>
</div>
 <br><br>
{% endblock main-content%}